<form method="POST" action="/courses/handle-form-action">
    <div>
        <h2>khóa học của tôi</h2>

        <a href="/me/trash/courses"> thùng rác</a>
    </div>
    <div class="mt-4 d-flex align-items-center">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
            <label class="form-check-label" for="checkbox-all">
                chọn tất cả
            </label>
        </div>
        <select class="form-select form-select-sm select-all-option" aria-label="Default select example" name="action"
            id="checkActionToConfirm">
            <option value=""> chọn hành động</option>
            <option value="delete">xóa</option>
        </select>
        <button class="btn btn-sm btn-primary btn-check-all-submit disabled">thực hiện</button>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th scope="col">stt</th>
                <th scope="col">tên khóa học</th>
                <th scope="col">thời gian tạo</th>
            </tr>
        </thead>
        <tbody>
            {{#each course}}
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
                    </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit">
                        <button class="btn btn-warning">
                            sửa
                        </button>
                    </a>
                </td>
                <td>
                    <button class="btn btn-danger" data-bs-toggle="modal" data-id="{{this._id}}"
                        data-bs-target="#deleteCourses">xóa</button>
                </td>

            </tr>
            {{else}}
            <tr>
                <td class="text-center">
                    bạn chưa đăng khóa học nào. <a href="/courses/create">đăng khóa học</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- confirm delete courses --}}
<div class="modal fade" id="deleteCourses" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">xóa khóa học ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>bạn có chắc muốn xóa khóa học này không</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">hủy</button>
                <button type="button" id="btn-delete-course" class="btn btn-danger">xóa</button>
            </div>
        </div>
    </div>
</div>
{{!-- delete hidden form --}}
<form method="POST" action="" name="delete-form"> </form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let courseId;
        let deleteForm = document.forms['delete-form']
        let btnDeleteCourse = document.getElementById('btn-delete-course')
        let checkboxAll = $('#checkbox-all')
        let courseItemCheckbox = $('input[name="courseIds[]"]')
        let checkAllSubmitBtn = $('.btn-check-all-submit')
        let checkActionToConfirm = $('#checkActionToConfirm')
        console.log(checkActionToConfirm)


        $('#deleteCourses').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget)
            courseId = button.data('id')
        })

        btnDeleteCourse.onclick = function (e) {
            deleteForm.action = `/courses/${courseId}?_method=DELETE`
            deleteForm.submit()
        }
        //checkbox all change
        checkboxAll.change(function () {
            let isCheckedAll = $(this).prop('checked')
            courseItemCheckbox.prop('checked', isCheckedAll)
            renderCheckAllSubmit()
        })
        //courses item checkbox change
        courseItemCheckbox.change(function () {
            let isCheckedAll = courseItemCheckbox.length === $('input[name="coursesIds[]"]:checked').length
            checkboxAll.prop('checked', isCheckedAll)
            renderCheckAllSubmit()
        })
        //re-render check all submit btn
        function renderCheckAllSubmit(checkActionToConfirm) {
            let checkCount = $('input[name="courseIds[]"]:checked').length
            if (checkCount && checkActionToConfirm) {
                checkAllSubmitBtn.removeClass('disabled')
            } else {
                checkAllSubmitBtn.addClass('disabled')
            }
        }
        //confirm action to submit
        checkActionToConfirm.change(function () {
            renderCheckAllSubmit(checkActionToConfirm.val())
        })

    })


</script>